/*------------------------------------------------------------------------------
| CSS VARTIABLES
| ----------------------------------------------------------------------------*/

:root {
    --section-padding: 50px 0;
    --section-container-width: 80%;
    --section-container-max-width: 1200px;

    --row-gap: 20px;
    --grid-gap: 20px;
    
    --spacer-height: 100px;

    /* Aesthetic */
    --overlay-background-color: rgba(0, 0, 0, 0.6);
}